includes:
  - phpstan-baseline.neon

parameters:
  level: max
  paths:
    - src/batch/src/
    - src/batch-box-spout/src/
    - src/batch-doctrine-dbal/src/
    - src/batch-doctrine-orm/src/
    - src/batch-doctrine-persistence/src/
    - src/batch-league-flysystem/src/
    - src/batch-openspout/src/
    - src/batch-symfony-console/src/
    - src/batch-symfony-framework/src/
    - src/batch-symfony-messenger/src/
    - src/batch-symfony-serializer/src/
    - src/batch-symfony-validator/src/

  ignoreErrors:
    # The DependencyInjection returns are complex to deal with
    - message: '#^Call to an undefined method Symfony\\Component\\Config\\Definition\\Builder\\NodeParentInterface\:\:#'
      path: ./src/batch-symfony-framework/src/DependencyInjection/Configuration.php
