{% trans_default_domain 'YokaiBatchBundle' %}

{# @var execution \Yokai\Batch\JobExecution #}
{% set classMap = {
    (constant('PENDING', execution.status)): 'default',
    (constant('RUNNING', execution.status)): 'warning',
    (constant('STOPPED', execution.status)): 'info',
    (constant('COMPLETED', execution.status)): 'success',
    (constant('ABANDONED', execution.status)): 'info',
    (constant('FAILED', execution.status)): 'danger',
} %}
<span class="label label-{{ classMap[execution.status.value] }}">
    {{ ('job.status.'~execution.status|lower)|trans }}
</span>
